<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask SocketIO Test</title>
</head>
<body>
  <p>Map-king game</p>
  <h2>New game settings</h2>
  <form action="/room/new" method="post">
  <label>Amount of players:</label><br>
  <input type="text" name="players_amount" value="2"><br>
  <label>Map width:</label><br>
  <input type="text" name="width" value="10"><br>
        <label>Map heigth:</label><br>
  <input type="text" name="height" value="10"><br>
  <button>Submit</button>
  </form>

</body>
</html>